* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}
.Tiled-bg {
  overflow-x: hidden;
  padding-bottom: 25px;
  text-align: center;
  min-height: 100vh;
  background: url('./resources/background-patterns/bg-tan-str.png');
  background-repeat: round;
  background-size: 64px;
  padding: 0px;
  margin: 0px;
}
#wrap {
  min-height: 100vh;
}
/* #Launch-bg {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: black url('./resources/tempbg.jpg') center center no-repeat;
  background-size: cover;
} */
footer {
  background-color: #011808a0;
  color: #eedcb7;
}
.footer {
  position: relative;
  margin-top: -25px; /* negative value of footer height */
  height: 25px;
  clear: both;
}

.MainHeader {
  background-color: #011808a0;
  color: #eedcb7;
  margin: 10px;
  padding: 10px;
  border: thin dashed #eedcb7;
}
/* .tanPills ul > li > a {
  background-color: white;
  color: red;
}
.tanPills ul > li > a:hover {
  background-color: pink;
} */
/* .tanPills > li.active > a,
.tanPills > li.active > a:hover,
.tanPills > li.active > a:focus {
  color: black;
  background-color: #c4b79d;
} */
/* not active */
.tanPills .navLink {
  transition: transform 150ms;
  transition: background-color 250ms;
  border-radius: 3px;
}
/* active*/
.tanPills .navLink:active {
  transform: scale(0.75);
  background-color: #6d6556;
}
.tanPills .navLink:focus {
  background-color: #c4b79d;
}
.shr-btn {
  transition: transform 250ms;
}
.shr-btn:focus {
  outline: none;
}

.shr-btn:active {
  transform: scale(0.75);
}
#collasible-nav-dropdown {
  transition: all 250ms;
}
#copyIcon {
  border: 10 thick dashed yellow;
  outline: none;
  border: 0;
}
.MainNav {
  background-color: #030303;
  border-width: 3px;
  border-color: #ffaf00;
}

.Vert-txt {
  overflow: visible;
  transform: rotate(-90deg);
}
